
.mat-form-field{
	width:100%;
}


.table thead th{
	vertical-align:middle;
}
.txt-msg-block{
	border:1px solid #ccc;
	padding:5px;
}
.txt-msg-block p{
	margin-bottom:0px;
	font-size:12px;
}
.outbound-input{
	width:60px;
}
.left-block{
	max-width: 80%;
    float: left;
}
.right-block{
	margin-right: 0%;
    float: right;
    text-align: right;
    max-width: 100%;
}
.cat__wizard .steps ul li{
	
	    -webkit-box-flex: 200;
    -ms-flex-positive: 200;
    flex-grow: 200;
    float: none;
    width: auto;
    position: relative;
    list-style-type: none;
}
.cat__wizard .steps ul li.disabled:before, .cat__wizard .steps ul li.disabled:after {
    background: #bfc0c0;
}
.cat__wizard .steps ul li.disabled .cat__wizard__steps__icon, .cat__wizard .steps ul li.disabled .number {
    border-color: #fff;
    background: #bfc0c0;
    color: #000;
}
.disabled > a > i{
	color:#000;
	font-weight:600;	
}
/*@media only screen and (min-width: 1200px){
.cat__wizard .steps ul{
    width: 1200px;
    margin-left: 25px;
}
}

@media only screen and (max-width: 1024px){
.cat__wizard .steps ul{
    width: 1024px;
    margin-left: 25px;
}
}
*/
@media only screen and (max-width: 767px){
.cat__wizard .steps ul li:before, .cat__wizard .steps ul li:after {
    position: absolute;
    content: '';
    display: block;
    width: 97%;
    top: 0.7rem;
    right: 0;
    height: 0.60rem;
    background: rgb(34, 190, 239);
    z-index: 1;
}
}

.cat_wizard_steps_title {
    display: block;
    text-align: left;
    color:#02615c;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight:600;
}
.forgotOk{
	padding:3px 13px 3px 13px;
}
.forgotOk:hover{
	padding:3px 13px 3px 13px;
}
.forgotOk:active{
	padding:3px 13px 3px 13px;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    width: 100%;
    z-index: 99999 !important;
}
#outboundDeliveryModal .bootstrap-datetimepicker-widget{
	position:fixed !important;
	top:102px !important;
}

.popup-button-block {border-top:1px solid #ccc; width:100%;}
.popup-button-block button{padding:5px 20px; float:right; display:block; margin-top:10px}
#cancel-outbound-delivery .mb-5 {margin-bottom:10px !important;}
#cancel-outbound-delivery .card-block {padding:0 !important;}
#cancel-outbound-delivery table {width:100% !important; display:table;}


@media only screen and (max-width: 1024px){	
.right-block{
	float:left;
	left:0;
  }	
.right-block button{
	margin-top:12px;
	margin-bottom:0;
	float:left;
	left:0;
  }	
  .left-block{
	max-width: 80%;
    float: left;
    min-width:35%;
    margin-bottom:0;
   }
   table td {min-width:130px;}
   table td:first-child {min-width:50px;}
   table td:last-child {min-width:200px;}
}
.out-cancel-pgi-modal-body{
	
	padding: 6px 6px !important;
	
	width: 100%;
	}
#cpg td{
	height:20px !important
	
}

.delivery-form-block input{
	padding:5px !important;
}
.create-edit-pop-txt-box{
	padding:5px !important;
}
.fa-sliders{font-size: 25px; margin-right: 8px;}


















